body {
  background-color: olive;
}

.container {
  text-align: center;
  margin: 0 auto;
  width: 700px;
  border: 2px dashed red;
  padding: 1rem;
  text-align: center;
}
.box {
  display: inline-block;
  margin: auto 0;
  width: 500px;
  border: 1px solid white;
  padding: 1rem;
}

h1 {
  text-align: center;
  text-decoration: underline;
  color: white;
}
ul {
  padding: 1rem;
}

li {
  color: white;
  border: 1px solid;
  margin-top: 1rem;
}
